@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/***************************************************** GENERAL *****************************************************/

body {
  font-family: "Raleway", "Sans serif";
  /* margin: 0 auto; */
  box-sizing: border-box;
}
.containerclass {
  max-width: 1300px;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  font-weight: 700;
}

/******************************************************* HEADER ****************************************************/

header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 30px;
  display: flex;
}

nav li a {
  padding: 30px;
}

.signUp {
  color: #0065fc;
  font-weight: 700;
}

nav li a:hover {
  color: #0065fc;
  border-top: 1px solid #0065fc;
}

/*************************************************** BARRE DE RECHERCHE *********************************************/

.search {
  margin-bottom: 30px;
}

.search h2 {
  margin-bottom: 10px;
}

.search p {
  margin-top: 10px;
}

.searchBar {
  margin-bottom: 30px;
  height: 50px;
  display: flex;
}

.input_icon {
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  width: 50px;
  flex-shrink: 0;
  text-align: center;
  padding-top: 12px;
}

.input_icon i {
  margin: auto;
  font-size: 1.2rem;
}

.searchInput {
  border: 1px solid #f2f2f2;
  padding: 0 0 0 15px;
  font-size: 1.1rem;
  font-weight: 600;
  width: 230px;
}

.searchInput::placeholder {
  color: #c2c2c2;
}

.searchButton {
  width: 130px;
  background-color: #0065fc;
  border: none;
  padding: 0;
  border-radius: 0 15px 15px 0;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
}

.searchLoupe {
  background-color: #0065fc;
  border: none;
  width: 50px;
  border-radius: 0 15px 15px 0;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  display: none;
}
/*************************************************** FILTRES *******************************************************/

.filters {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 30px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.filter {
  align-items: center;
  height: 46px;
  border: 2px solid #f2f2f2;
  border-left: none;
  padding-right: 20px;
  border-radius: 25px;
  display: flex;
  margin-left: 20px;
}
.textFilter {
  align-self: center;
}

.filter span {
  padding-left: 12px;
}

.filter:hover {
  cursor: pointer;
  border-color: #0065fc;
  color: #0065fc;
}

.iconFilter {
  position: relative;
  right: 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #deebff;
  display: flex;
}

.iconFilter i {
  margin: auto;
  color: #0065fc;
  display: flex;
}
.containerInfo {
  display: flex;
}

.iconInfo {
  height: 20px;
  width: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 1rem;
  margin-right: 10px;
  display: flex;
  margin-top: 15px;
}

.iconInfo i {
  margin: auto;
  font-size: 0.9rem;
  color: hsl(216, 100%, 49%);
  display: flex;
}

/* ************************************* PARAMETRES HEBERGEMENT ET POPULAIRES ***************************************/

.hebergementETpopulaire {
  display: flex;
  justify-content: space-between;
}

/************************************************** HEBERGEMENTS ***************************************************/

#Hebergements {
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 62%;
  padding: 20px;
}

.hebergementmarseille {
  display: flex;
  flex-wrap: wrap;
}

.hotel {
  flex: 25%;
  background: white;
  border-radius: 20px;
  padding: 5px;
  box-sizing: border-box;
  margin: 20px;
  box-shadow: 0 5px 16px;
}

.hotel img {
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  transition-duration: 0.1s;
  cursor: pointer;
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.hotel p {
  margin: 5px 10px;
  font-weight: 100;
}

.hotel h3 {
  margin: 3px 10px;
}

.etoilesHebergement {
  margin: 3px 10px;
  color: #0065fc;
}

.greyStar {
  color: #c1c1c1;
}

.main {
  display: flex;
}

.afficherplus {
  color: black;
  padding-left: 8px;
}
/**************************************************** POPULAIRES ***************************************************/

#pluspopulaires {
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 30%;
  padding: 20px;
}

.containerpopulaireicon {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.containerpopulaireicon i {
  font-size: 20px;
}
.populaireImage {
  height: 145px;
  border: 5px solid #fff;
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 0 0 7px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

.populaireImage img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  display: flex;
}

.populaireDescription {
  flex: 1;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  display: flex;
}

.hebergementspopulaire {
  margin-top: 20px;
}
.hotelName {
  margin: 0;
  font-weight: 700;
  font-size: 1.1rem;
}

.etoilesPopulaire {
  color: #0065fc;
}

.greyStar {
  color: #c1c1c1;
}
.populaireDescription .hotelName + p {
  margin-top: 8px;
  margin-bottom: 0;
}

.containerHotelsPopular {
  box-sizing: content-box;
  width: 100%;
}

/**************************************************** ACTIVITES ****************************************************/

/* Mise en forme du titre de la section */
#Activites h2 {
  margin-left: 50px;
}

/* J'aligne mes articles entre eux */
.containerActivites {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* Je donne une taille, des marges et couleur de fond à mes articles/cartes */
.ActiviteImage {
  background-color: #ffffff;
  margin: 20px 0 20px 0;
  border-radius: 20px;
  width: 22%;
}

/* Je donne une marge au titre h3 de mes cartes */

.ActiviteImage h3 {
  margin-left: 20px;
}

/*  Je donne une bordure et une ombre aux grandes cartes*/
.Imageseule {
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 1px 1px 17px -9px rgba(0, 0, 0, 0.75);
}

/*  Je donne une bordure et une ombre aux petites cartes situées en haut*/
.ActiviteImage-top,
.ActiviteImage-top2 {
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 1px 1px 17px -9px rgba(0, 0, 0, 0.75);
}

/*  Je donne une bordure et une ombre aux petites cartes situées en bas + une marge supérieure*/
.ActiviteImage-bottom,
.ActiviteImage-bottom2 {
  border: 1px solid #f2f2f2;
  margin-top: 40px;
  box-shadow: 1px 1px 17px -9px rgba(0, 0, 0, 0.75);
}

/* Je donne une tailles aux grandes images*/

.activite1img,
.activite4img {
  width: 100%;
  height: 420px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: center;
}

/* Je donne une tailles aux petites images*/

.activite2img,
.activite3img,
.activite5img,
.activite6img {
  width: 100%;
  height: 160px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: center;
}

/***************************************************** FOOTER ******************************************************/

/* Alignement et couleur de fond du footer */
footer {
  display: flex;
  background-color: #f2f2f2;
  flex-wrap: wrap;
}

/* J'aligne les éléments "enfants" à l'intérieur des champs/ colonnes*/

.footer-champs {
  flex: 20%;
  font-size: 1.2em;
  padding-left: 50px;
}

/* Alignements, on gére l'espacement entre les lignes, enlève les puces, couleur */

.footer-champs ul {
  display: flex;
  flex-flow: column nowrap;
  line-height: 2em;
  text-decoration: none;
  color: rgb(61, 60, 60);
  font-weight: 500;
  padding: 0;
  list-style-type: none;
}

.footer-champs h4 {
  font-size: 1.2em;
  margin-bottom: 0;
}

/*************************************************** MEDIA QUERIES ***********************************************/
@media screen and (max-width: 768px) /* pour que l'écran s'adapte a tous écran de smartphnes */ {
  body {
    margin: 0;
  }
  header {
    width: 100%;
  }

  .containerclass {
    width: 100%;
    margin: 0;
  }
  /*************************************************** RECHERCHE ***************************************************/

  .searchButton {
    display: none;
  }

  /*  On met la loupe un peu + grosse et positionner avec flex*/
  .searchLoupe {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 10px;
  }
  /* On diminue la width du champs de texte pour mieux aligner la loupe et que l'ensemble du form soit centré*/
  .searchInput {
    width: 200px;
  }
  /***************************************************** NAVIGATION ************************************************/

  .logo {
    padding-top: 10px;
    padding-left: 30px;
  }
  nav {
    width: 100%;
  }
  nav ul {
    width: 100%;
    padding: 30px 0;
  }

  nav li {
    width: 50%;
    text-align: center;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 20px;
  }
  nav li:hover {
    border-top: inherit;
    border-bottom: 2px solid #0065fc; /* Augmente légerement la bordure */
    padding-bottom: 20px;
  }

  nav li a:hover {
    border-top: inherit;
  }

  /* ---- H2 : je le met en H1 (html) car titre principal, et on diminue un peu le font-size et on le centre*/

  h1 {
    font-size: 1.3rem;
    text-align: center;
  }

  /* On centre le paragraphe (p) sous le titre */

  .search p {
    text-align: center;
  }

  .searchBar {
    margin: 0 10px;
    justify-content: center;
  }

  /******************************************************INSCRIPTION**************************************************/
  .signUp {
    position: absolute;
    top: 25px;
    right: 5px;
  }

  /*************************************************** FILTRE ******************************************************/
  /* On ajoute un padding-left sur l'ensemble des éléments de filtres */
  .filters {
    padding-left: 1rem;
  }
  /* On enlève le pading-right sur les éléments de filtres, on met un font-size, et une marge haut et droite*/
  .filter {
    padding-right: 0;
    font-size: 1rem;
    margin: 10px 10px 0 0;
  }
  /* On centre le span dans son élément*/
  .filter span {
    padding-left: 5px;
    padding-right: 5px;
  }

  .textfilter {
    width: 100%;
    margin-bottom: 15px;
  }

  /* Pour le texte sous les filtres, pas besoin de div pour l'icone mais par contre le texte doit être dans une balise <p> */
  /* On change cela dans le HTML*/
  .containerInfo {
    font-size: 0.9rem;
    margin: 0 10px 0 10px;
  }

  /* On positionne le paragraphe */
  .containerInfo p {
    margin: 10px 0 10px 5px;
  }

  /* On positionne l'icone : une icone n'as pas besoin de height ou width mais tu la dimensionne avec font-size et des paddings */
  .iconInfo {
    padding: 2px 5px;
    margin: 0;
  }

  /* Titre section populaire - On ajoute une class (en html) car ce titre doit se positionner avec l'icone */
  /*  On aligne l'icone et le titre avec flex/ space-between et un padding*/
  .titresectionpop {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .titresection {
    font-size: 1.3rem;
    margin-left: 10px;
  }

  /***************************************************HEBERGEMENT*****************************************************/
  .hebergementETpopulaire {
    flex-direction: column-reverse; /* la parti les plus populaire passe en haut avec cette propriete*/
    width: 100%;
  }
  /* On ajoute le padding sur cette div (qui est peut être de trop d'ailleurs) */
  .hotelpopulaire {
    padding: 0 10px;
  }

  #Hebergements {
    width: inherit;
    margin: 0;
    padding: 0; /* on ajoute padding:0 car width de 100% + padding = trog grand et cela te créer un dépassement */
    background-color: inherit;
  }

  /* J'enlève la width de 100% et je mets mon padding ici sinon 100% + padding...*/
  /* De plus pas besoin de width car lélement parent s'adapte à la taille des éléments enfants (ici les images)*/
  .hebergementmarseille {
    flex-direction: column;
    padding: 0 10px;
  }

  .showMore {
    font-size: 17px;
    font-weight: bold;
    width: 50%;
    margin: 20px 5px;
  }
  /***************************************************HEBERGEMENT POPULAIRE*****************************************/
  #pluspopulaires {
    width: 100%;
    margin: 0;
    padding: 0; /* on ajoute padding:0 car width de 100% + padding = trog grand et cela te créer un dépassement */
    border-radius: inherit;
  }
  .fa-chart-line:before {
    padding-top: 25px;
  }
  .containerpopulaireicon {
    padding-left: 15px;
    padding-right: 15px;
  }
  /*************************************************** ACTIVITES ***************************************************/
  /* Ici on est obligé de modifier le titre malgré qu'il est la class titresection (déjà mis en style) car ce style a été appliqué en dehors des media queries */
  #Activites h2 {
    margin-left: 10px;
  }
  .containerActivites {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px; /* Je mets le padding ici*/
  }
  .ActiviteImage {
    width: 100%;
  }

  .activite1img,
  .activite4img {
    height: 160px;
  }

  /*************************************************** FOOTER ***************************************************/

  /* sur la maquette les champs ne sont pas centrés. On enléve donc un peu de marge à gauche */
  footer {
    display: flex;
    align-items: flex-start;
  }

  .footer-champs {
    font-size: 15px;
    flex-direction: column;
    padding-left: 20px;
  }

  .footer-champs li {
    list-style: none;
  }
}

@media screen and (max-width: 520px) /* pour que l'écran s'adapte a tous écran de smartphnes */ {
  .search h1 {
    text-align: inherit;
    padding-left: 15px;
  }
  .search p {
    text-align: inherit;
    padding-left: 15px;
  }

  .searchBar {
    justify-content: inherit;
  }
  footer {
    flex-flow: column nowrap;
  }
}
